/* Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.i-boat {
  padding-top: 4px;
  padding-left: 3px;

}

.i-mark {
  padding-left: 3px;
  width: 1.4501953125em;
}

.i-flag {
  width: 1.0361328125em;
}

.i-pointer {
  width: 0.6455078125em;
}

.i-square {
  width: 0.857421875em;
}

.i-clear {
  padding-left: 2px;
  width: 0.7861328125em;
}

/* Toolbar */
.leftcontainer

/*I want this div to be in position fixed and height as 100% of the screen. But when I do it, there is a chaos*/
  {
  position: absolute;
  height: 100%;
  z-index: 100;
}

.container-parent {
  position: relative;
  background-color: #0074D9;
  width: 70%;
  border-style: solid;
  /* height: 60%; */
  margin: auto;
}

.toolbar {
  border-radius: 0px 5px 5px 0px;
  background: #AAAAAA;
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -10em;

}

.toolbar .btn {
  /* padding: 10px; */
  border-radius: 2px 2px 2px 2px;
  margin: 8px;
  display: flex;
  width: 50px;
  height: 50px;
}

.toolbar .btn:hover {
  cursor: pointer;
}


.toolbar svg {
  width: 90%;
  height: 90%;
}

.toolbar .btn:active {
  background: #AAAAAA;
  /* padding: 5px; */
}

.sidebar {
  display: inline-block;
  width: 50px;
  top: 120px;
  right: 20px;
  background-color: gray;
}

/* Color Palette */
.color-picker {
  font-size: 0;
  display: grid;
  margin: 30px 8px 8px 8px;
  grid-template-rows: 22px 22px 22px;
  grid-template-columns: 22px 22px;

  grid-row-gap: 8px;
  grid-column-gap: 5px;
}

.color-picker__item {
  display: inline-block;
}

.color-picker__item:hover {
  cursor: pointer;
}

.color-picker__input {
  display: none;
}

.color-picker__input:checked+.color-picker__color:after {
  content: '';
}

.color-picker__input:disabled+.color-picker__color {
  opacity: 0.5;
}

.color-picker__input:disabled+.color-picker__color:hover {
  cursor: not-allowed;
}

.color-picker__color {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: solid;
  border-width: 1px;
  border-color: #8d8d8d;
}

.color-picker__color:hover {
  cursor: pointer;
}

.color-picker__color:after {
  pointer-events: none;
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  outline: 2px solid black;
  content: none;
}

.color-picker__color--black {
  background: #111111;
}

.color-picker__color--gray {
  background: #DDDDDD;
}

.color-picker__color--green {
  background: #2ECC40;
}

.color-picker__color--teal {
  background: #39CCCC;
}

.color-picker__color--red {
  background: #FF4136;
}

.color-picker__color--orange {
  background: #FF851B;
}

/* Menu */

.menu {
  display: none;
  position: absolute;
  width: 90px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  z-index: 1;
}

.menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

.menu button:hover {
  background-color: lightgray;
}